node_modules
.github
.settings
dist
coverage
.project
.env
docker/postgres
docker/base
.nyc_output
.git

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
