{
    "type": "postgres",
    "host": "localhost",
    "port": 5432,
    "username": "postgres",
    "password": "secret",
    "database": "postgres",
    "entities": [
        "dist/model/*.model.js",
        "node_modules/@logion/rest-api-core/dist/SessionEntity.js"
    ],
    "synchronize": false
}
