| SUBJECT
| Begin
|
if (loc.requesterAddress !== undefined)
    | Identification key:
    | #{loc.requesterAddress.address}
else if (loc.requesterIdentityLoc !== undefined)
    | Identification LOC:
    | #{loc.requesterIdentityLoc}
|
| End.
