| logion notification - LOC data reviewed
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| Your Legal Officer, #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}, has reviewed your data. You are now able to publish it on the logion infrastructure. Then your Legal Officer will aknowledge that publication. This action will update the related Legal Officer Case (LOC) public certificate.
|
| As a reminder, your Legal Officer in charge of this transaction is the following one:
include /legal-officer-details.pug
|
include /footer.pug
