| logion notification - Legal Officer Case (LOC) request acceptance
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because you are requesting Legal Officer services to protect a transaction.
| Please note, you can't answer this email. the logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
|Your Legal Officer, #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}, has accepted to protect your transaction, and has created the related Legal Officer Case.
|
|Your are now able to provide all required document to your Legal Officer thourgh the logion application within the related LOC management interface.
|
|As a reminder, your Legal Officer in charge of this transaction is the following one:
include /legal-officer-details.pug
|
include /footer.pug
