| logion notification - Secret Recovery request created
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because you just requested to recover the secret with name #{secret.secretName} linked to your Identity LOC #{secret.requesterIdentityLocId}.
|
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| As a reminder, find below all details of the Legal Officer you'll have to contact in order to recover the secret's value:
|
include /legal-officer-details.pug
|
include /footer.pug
