| logion notification - Vault transfer request approval
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because you are requesting the signature of a Legal Officer through the logion blockchain network.
|
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| Your Legal Officer, #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName}, has accepted to sign your vault transfer. Thus, this transfer has been executed.
|
| Should you have any questions, please contact your Legal Officer who reviewed this transfer request:
|
include /legal-officer-details.pug
|
|
include /footer.pug
