| logion notification - Verified Third Party status (nomination)
|
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because the Logion Legal Officer #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName} granted you the status of Verified Third Party.
| As a consequence, you will be able to access and contribute to specific Legal Officer Case(s) at the request of the mentioned Logion Legal Officer.
|
| You will be notified by email when the Legal Officer will request your contribution to a given Legal Officer Case. These Legal Officer Case(s) will be listed within the "Third Party LOC" section of the logion application.
|
| This means that you have the responsibility to contribute either public data and/or confidential documents in Legal Officer Cases (LOC) managed by the related Logion Legal Officer.
| You understand that the material you provide in such context shall be authentic and accurate.
| With regard to future public data, you confirm that the submitted public data can be publicly exposed, especially under GDPR regulation or any kind of data protection regulation that may apply. Any kind of personal (eg: name, email, phone number, etc.) and/or confidential information shall be strictly excluded from public data under your responsibility. Files will not be public (their hash will).
|
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| Please contact your Legal Officer if you want more details.
| 
include /footer.pug
