| logion notification - Third Party LOC contribution requested
|
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because the Logion Legal Officer #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName} requested your contribution to a Legal Officer Case (LOC) under his/her responsibility.
| 
| This Legal Officer Case will be listed within the "Third Party LOC" section of the logion application.
|
| This means that you have the responsibility to contribute either public data and/or confidential documents in the Legal Officer Case managed by the related Logion Legal Officer.
| You understand that the material you provide in such context shall be authentic and accurate.
| With regard to future public data, you confirm that the submitted public data can be publicly exposed, especially under GDPR regulation or any kind of data protection regulation that may apply. Any kind of personal (eg: name, email, phone number, etc.) and/or confidential information shall be strictly excluded from public data under your responsibility. Files will not be public (their hash will).
|
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| Please contact your Legal Officer if you want more details.
| 
include /footer.pug
