| logion notification - Issuer LOC (dismissal)
|
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because the Logion Legal Officer #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName} cancelled your status of Verified Issuer contributor to a Legal Officer Case.
| As a consequence, you can no longer access the related Legal Officer Case to which you have previously contributed at the request of the mentioned Logion Legal Officer. 
| This LOC will not be listed in the Issuer LOC section of the logion application anymore.
|
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| Please contact your Legal Officer if you want more details.
| 
include /footer.pug
