| logion notification - Verified Third Party status (dismissal)
|
| Dear #{walletUser.firstName} #{walletUser.lastName},
|
| You receive this message because the Logion Legal Officer #{legalOfficer.userIdentity.firstName} #{legalOfficer.userIdentity.lastName} cancelled your status of Verified Third Party.
| As a consequence, you can no longer access Legal Officer Case(s) to which you have previously contributed at the request of the mentioned Logion Legal Officer.
|
| Please note, you can't answer this email. The logion network will never ask you to provide any kind of information or access to a web address through its email notifications.
|
| Please contact your Legal Officer if you want more details.
| 
include /footer.pug
